@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg-dark: hsl(220 100% 94%);
  --bg: hsl(220 100% 99%);
  --bg-light: hsl(220 100% 100%);

  --text: hsl(245 100% 11%);
  --text-muted: hsl(222 57% 34%);
  --highlight: hsl(220 100% 100%);

  --border: hsl(221 50% 57%);
  --border-muted: hsl(221 72% 69%);

  --primary: hsl(222 57% 34%);
  --secondary: hsl(43 100% 13%);

  --danger: hsl(7 47% 42%);
  --warning: hsl(53 100% 17%);
  --success: hsl(161 100% 19%);
  --info: hsl(217 50% 44%);
}

:root.dark {
  --bg-dark: hsl(237 100% 5%);
  --bg: hsl(228 92% 7%);
  --bg-light: hsl(222 73% 11%);

  --text: hsl(220 100% 100%);
  --text-muted: hsl(220 78% 76%);
  --highlight: hsl(221 45% 45%);

  --border: hsl(222 57% 34%);
  --border-muted: hsl(223 79% 23%);

  --primary: hsl(220 98% 77%);
  --secondary: hsl(41 62% 57%);

  --danger: hsl(8 63% 66%);
  --warning: hsl(52 49% 46%);
  --success: hsl(151 41% 51%);
  --info: hsl(217 73% 68%);
}
