@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg-dark: hsl(216, 100%, 91%);
  --bg: hsl(204, 100%, 94%);
  --bg-light: hsl(180, 100%, 96%);

  --text: hsl(246 100% 11%);
  --text-muted: hsl(224 54% 35%);
  --highlight: hsl(222 100% 100%);

  --border: hsl(223 49% 58%);
  --border-muted: hsl(222 72% 70%);

  --primary: hsl(224 54% 35%);
  --secondary: hsl(44 100% 13%);

  --danger: hsl(7 47% 42%);
  --warning: hsl(53 100% 17%);
  --success: hsl(161 100% 19%);
  --info: hsl(217 50% 44%);
}

:root.dark {
  --bg-dark: hsl(239 98% 5%);
  --bg: hsl(230 88% 7%);
  --bg-light: hsl(224 69% 11%);

  --text: hsl(222 100% 100%);
  --text-muted: hsl(222 77% 76%);
  --highlight: hsl(223 43% 46%);

  --border: hsl(224 54% 35%);
  --border-muted: hsl(226 72% 24%);

  --primary: hsl(222 98% 77%);
  --secondary: hsl(42 60% 57%);

  --danger: hsl(8 63% 66%);
  --warning: hsl(52 49% 46%);
  --success: hsl(151 41% 51%);
  --info: hsl(217 73% 68%);
}
